html {
    font-family: Helvetica Neue, Helvetica, PingFang SC, Hiragino Sans GB,
        Microsoft YaHei, SimSun, sans-serif;
    font-size: 14px;
    color: #000;
}

.flex {
    display: flex;
    align-items: center;
}
.padding-0 {
    padding: 0 !important;
}
